requests
joblib 

absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
distlib
filelock
Flask
flatbuffers
gast
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
h5py
idna
itsdangerous
jax
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
ml-dtypes
mysql-connector-python
numpy
oauthlib
opt-einsum
packaging
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
PyJWT
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
typing_extensions
urllib3
virtualenv
Werkzeug
wrapt

Flask
tensorflow
numpy
opencv-python-headless
scikit-learn==1.2.2